body {
  background-color: black;
}

$pulse-interval-var1: 4.0s;
$pulse-interval: 2.2s;
$strobe-interval: 0.59s;

$timeFactor: 1.5;

$length-1: 1266.5721435546875;
$length-2: 1103.6959228515625;
$length-3: 923.8302001953125;
$length-4: 571.5560302734375;
$length-5: 1266.6669921875;
$length-6: 1103.67431640625;
$length-7: 923.8546752929688;
$length-8: 571.5357666015625;

.wrapper {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

path,
line {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  mix-blend-mode: difference;
}

.animating-pulse-red {
  animation: animatePulseRed $pulse-interval infinite linear;
}

.animating-pulse-blue {
  animation: animatePulseBlue $pulse-interval infinite linear;
}

.animating-pulse-purple {
  animation: animatePulsePurple $pulse-interval infinite linear;
}

@keyframes animatePulseVar {
  0% {
    mix-blend-mode: initial;
    fill: rgba(256,0,0,1);
  }

  100% {
    mix-blend-mode: initial;
    fill: rgba(256,0,0,0);
  }
}

@keyframes animatePulseRed {
  0%, 100% {
    fill: rgba(256,0,0,0);
  }
  15%, 85% {
    fill: rgba(256,0,0,1);
  }
}

@keyframes animatePulseBlue {
  0%, 100% {
    fill: rgba(0,0,256,0);
  }
  15%, 85% {
    fill: rgba(0,0,256,1);
  }
}
@keyframes animatePulsePurple {
  0%, 100% {
    fill: rgba(256,0,256,0);
  }
  15%, 85% {
    fill: rgba(256,0,256,1);
  }
}

.animating-pulse-var1 {
  animation: animatePulseVar1 $pulse-interval-var1 infinite linear;
}

@keyframes animatePulseVar1 {
  0%, 100% {
    fill: rgba(256,0,0,0);
  }
  33%, 80% {
    fill: rgba(256,0,0,1);
  }
}

.animating-pulse-var2 {
  animation: animatePulseVar2 $pulse-interval-var1 infinite linear;
}

@keyframes animatePulseVar2 {
  0%, 100% {
    fill: rgba(0,0,256,0);
  }
  33%, 80% {
    fill: rgba(0,0,256,1);
  }
}


.animating-strobe-diag-left {
  mix-blend-mode: initial;
  animation: strobeDiagLeft $strobe-interval infinite linear;
}

.animating-strobe-half-diag-left {
  mix-blend-mode: initial;
  animation: strobeDiagLeft #{$strobe-interval} infinite linear;
}

.animating-strobe-diag-thick {
  mix-blend-mode: initial;
  animation: strobeDiagThick $strobe-interval infinite linear;
}

.animating-strobe-half-diag-thick {
  mix-blend-mode: initial;
  animation: strobeDiagThick #{$strobe-interval} infinite linear;
}

@keyframes strobeDiagLeft {
  0%, 100% {
    fill: url(#diagonal-stripe-left);
    fill-opacity: 1.0;
  }
}

@keyframes strobeDiagThick {
  0%, 100% {
    fill: url(#diagonal-stripe-thick);
    fill-opacity: 1.0;
  }
}

.animating-strobe-diag-right {
  mix-blend-mode: initial;
  animation: strobeDiagRight $strobe-interval infinite linear;
}

.animating-strobe-half-diag-right {
  mix-blend-mode: initial;
  animation: strobeDiagRight #{$strobe-interval} infinite linear;
}

@keyframes strobeDiagRight {
  0%, 100% {
    fill: url(#diagonal-stripe-right);
    fill-opacity: 1.0;
  }
}

@mixin linePulseVar2($id, $length) {
  .animating-var2-#{$id} {
    animation: lineDrawPulseVar2-#{$id} #{$length/(100 * $timeFactor)}s infinite linear;
  }

  @keyframes lineDrawPulseVar2-#{$id} {
      0%, 100% {
        stroke: rgba(256,0,0,1);
        stroke-dasharray: 0 #{$length};
        fill: rgba(256,0,0,0);
      }
      25% {
        stroke: rgba(256,0,0,1);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,0,0);
      }
      40% {
        stroke: rgba(256,0,0,1);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,0,1);
      }
      // 89% {
      //   stroke: rgba(256,0,0,0);
      //   stroke-dasharray: #{$length} 0;
      //   fill: rgba(256,0,0,1);
      // }
      90% {
        stroke: rgba(256,0,0,1);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,0,1);
      }
      100% {
        stroke: rgba(256,0,0,0);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,0,0);
      }
  }
}



@mixin linePulse($id, $length) {
  .animating-#{$id} {
    animation: lineDrawPulse-#{$id} #{$length/(100 * $timeFactor)}s infinite linear;
  }

  @keyframes lineDrawPulse-#{$id} {
      0%, 100% {
        stroke: rgba(256,0,256,1);
        stroke-dasharray: 0 #{$length};
        fill: rgba(256,0,256,0);
      }
      25% {
        stroke: rgba(256,0,256,1);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,256,0);
      }
      40% {
        stroke: rgba(256,0,256,1);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,256,1);
      }
      // 89% {
      //   stroke: rgba(256,0,256,0);
      //   stroke-dasharray: #{$length} 0;
      //   fill: rgba(256,0,256,1);
      // }
      90% {
        stroke: rgba(256,0,256,1);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,256,1);
      }
      100% {
        stroke: rgba(256,0,256,0);
        stroke-dasharray: #{$length} 0;
        fill: rgba(256,0,256,0);
      }
  }
}

@include linePulse(1, $length-1);
@include linePulse(2, $length-2);
@include linePulse(3, $length-3);
@include linePulse(4, $length-4);
@include linePulse(5, $length-5);
@include linePulse(6, $length-6);
@include linePulse(7, $length-7);
@include linePulse(8, $length-8);

@include linePulseVar2(1, $length-1);
@include linePulseVar2(2, $length-2);
@include linePulseVar2(3, $length-3);
@include linePulseVar2(4, $length-4);
@include linePulseVar2(5, $length-5);
@include linePulseVar2(6, $length-6);
@include linePulseVar2(7, $length-7);
@include linePulseVar2(8, $length-8);
